#!/usr/bin/env bash
set -euo pipefail

{{- if eq .chezmoi.os "linux" }}

CURRENT_SHELL="$(getent passwd "$USER" | cut -d: -f7)"

{{- if eq .distro "arch" }}
sudo pacman -S --needed --noconfirm \
    zsh zsh-syntax-highlighting zsh-autosuggestions zsh-history-substring-search fzf
if ! command -v paru >/dev/null 2>&1; then
  sudo pacman -S --needed base-devel git
  git clone https://aur.archlinux.org/paru.git
  cd paru
  makepkg -si
  cd ..
  rm -rf paru
fi

paru -S --needed mcfly
{{- else if eq .distro "ubuntu" }}
sudo apt update
sudo apt install -y \
    zsh fzf zsh-syntax-highlighting zsh-autosuggestions bat

if ! command -v mcfly >/dev/null 2>&1; then
  tmp="$(mktemp)"
  trap 'rm -f "$tmp"' EXIT

  curl -LSfs https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh -o "$tmp"

  # Install (needs root if it writes to /usr/local/bin)
  sudo sh "$tmp" --git cantino/mcfly
fi
{{- end }}

if [ "$CURRENT_SHELL" != "/bin/zsh" ]; then
    echo "Changing shell to zsh..."
    chsh -s /bin/zsh
else
    echo "Shell already set to zsh."
fi

{{- end }}


