{{- $host := lower .chezmoi.hostname -}}
[bar/main]
monitor = ${env:MONITOR:}
{{- if eq $host "erebos" }}
dpi = 192
height = 48
{{- else }}
height = 24
{{- end }}
width = 100%
radius = 0

bottom = true

background = ${colors.seg_b_bg}
foreground = ${colors.seg_b_fg}

line-size = 0
border-size = 0
padding-left = 0
padding-right = 0
module-margin = 1

fixed-center = true
enable-ipc = true

{{- if eq $host "erebos" }}
font-0 = "JetBrainsMono Nerd Font:style=Medium:size=10;3"
font-1 = "JetBrainsMono Nerd Font:style=Bold:size=10;3"
font-2 = "DejaVu Sans Mono:size=10;3"
font-3 = "Noto Sans Symbols2:size=10;3"
{{- else }}
font-0 = "JetBrainsMono Nerd Font:style=Medium:size=10;2"
font-1 = "JetBrainsMono Nerd Font:style=Bold:size=10;2"
font-2 = "DejaVu Sans Mono:size=10;2"
font-3 = "Noto Sans Symbols2:size=10;2"
{{- end }}

modules-left   = m-i3
modules-center =
{{- if eq $host "nyx" }}
modules-right  = m-focused m-media m-discordmic m-net m-cpu m-temp-cpu m-temp-gpu m-mem m-disk m-audio m-battery m-time m-tray
{{- else }}
modules-right  = m-focused m-media m-discordmic m-net m-cpu m-temp-cpu m-mem m-disk m-audio m-battery m-time m-tray
{{- end }}

include-file = ~/.config/polybar/colors.ini
include-file = ~/.config/polybar/modules.ini

[bar/main_notray]
inherit = bar/main
modules-left   = m-i3
modules-center =
modules-right  = m-focused m-media m-discordmic m-net m-cpu m-temp-cpu m-temp-gpu m-mem m-disk m-audio m-battery m-time
