{{- $host := lower .chezmoi.hostname -}}
{{- $distro := lower .distro -}}
{{- $c := "white" -}}
{{- if and (eq $distro "arch") (eq $host "styx") -}}
{{- $c = "green" -}}
{{- else if and (eq $distro "arch") (eq $host "nyx") -}}
{{- $c = "cyan" -}}
{{- else if and (eq $distro "ubuntu") (eq $host "button") -}}
{{- $c = "blue" -}}
{{- end -}}

## FIRST LINE/ROW: Info & Status

[username]
format = " [╭─$user]($style)@"
show_always = true
style_root = "bold {{ $c }}"
style_user = "bold {{ $c }}"

[hostname]
disabled = false
format = "[$hostname]($style) in "
ssh_only = false
style = "bold dimmed {{ $c }}"
#trim_at = "-"

[directory]
style = "{{ $c }}"
truncate_to_repo = true
truncation_length = 0
truncation_symbol = "repo: "

[sudo]
disabled = false

[git_status]
ahead = "⇡${count}"
behind = "⇣${count}"
deleted = "x"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
style = "white"

[cmd_duration]
disabled = false
format = "took [$duration]($style)"
min_time = 1

## SECOND LINE/ROW: Prompt

[battery]
disabled = true
charging_symbol = ""
discharging_symbol = ""
full_symbol = ""

[[battery.display]]
disabled = false
style = "bold red"
threshold = 15

[time]
disabled = true
format = " 🕙 $time($style)\n"
style = "bright-white"
time_format = "%T"

[character]
error_symbol = " [×](bold {{ $c }})"
success_symbol = " [╰─λ](bold {{ $c }})"

## SYMBOLS

[status]
disabled = false
format = '[\[$symbol$status_common_meaning$status_signal_name$status_maybe_int\]]($style)'
map_symbol = true
pipestatus = true
symbol = "🔴"

[aws]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[nim]
symbol = " "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[package]
symbol = " "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = " "

[swift]
symbol = "ﯣ "

