## FIRST LINE/ROW: Info & Status

[username]
format = " [╭─$user]($style)@"
show_always = true
{{ if eq .distro "arch" }}
style_root = "bold red"
style_user = "bold red"
{{ else if eq .distro "ubuntu" }}
style_root = "bold blue"
style_user = "bold blue"
{{ else }}
style_root = "bold white"
style_user = "bold white"
{{ end }}

[hostname]
disabled = false
format = "[$hostname]($style) in "
ssh_only = false
{{ if eq .distro "arch" }}
style = "bold dimmed red"
{{ else if eq .distro "ubuntu" }}
style = "bold dimmed blue"
{{ else }}
style = "bold dimmed white"
{{ end }}
trim_at = "-"

[directory]
{{ if eq .distro "arch" }}
style = "red"
{{ else if eq .distro "ubuntu" }}
style = "blue"
{{ else }}
style = "white"
{{ end }}
truncate_to_repo = true
truncation_length = 0
truncation_symbol = "repo: "

[sudo]
disabled = false

[git_status]
ahead = "⇡${count}"
behind = "⇣${count}"
deleted = "x"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
style = "white"

[cmd_duration]
disabled = false
format = "took [$duration]($style)"
min_time = 1

## SECOND LINE/ROW: Prompt

[battery]
disabled = true
charging_symbol = ""
discharging_symbol = ""
full_symbol = ""

[[battery.display]]
disabled = false
style = "bold red"
threshold = 15

[time]
disabled = true
format = " 🕙 $time($style)\n"
style = "bright-white"
time_format = "%T"

[character]
{{ if eq .distro "arch" }}
error_symbol = " [×](bold red)"
success_symbol = " [╰─λ](bold red)"
{{ else if eq .distro "ubuntu" }}
error_symbol = " [×](bold blue)"
success_symbol = " [╰─λ](bold blue)"
{{ else }}
error_symbol = " [×](bold white)"
success_symbol = " [╰─λ](bold white)"
{{ end }}

## SYMBOLS

[status]
disabled = false
format = '[\[$symbol$status_common_meaning$status_signal_name$status_maybe_int\]]($style)'
map_symbol = true
pipestatus = true
symbol = "🔴"

[aws]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[nim]
symbol = " "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[package]
symbol = " "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = " "

[swift]
symbol = "ﯣ "

